body {
    margin: 40px auto;
    max-width: 650px;
    font: .8em/1.5 Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 15px;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.5;
}

.title {
    font-weight: bold;
}

li {
    margin: 1em auto;
    line-height: 1.5;
}

.links {
    margin-top: -1em;
}