:root {
    --primary-color: #444;
    --secondary-color: #666;
    --bg-color: #fff;
    --heading-color: #000;
    --link-color: #0000FF;
}

[data-theme="dark"] {
    --primary-color: #e1e1ff;
    --secondary-color: #a9a9a9;
    --bg-color: #333;
    --heading-color: #f0f0f0;
    --link-color: #9A97F3;
}

body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--primary-color);
    background-color: var(--bg-color);
    transition: color 0.3s ease, background-color 0.3s ease;
}

h1, h2, h3 {
    line-height: 1.5;
    color: var(--heading-color);
}

.title {
    font-weight: bold;
}

li {
    margin: 1em auto;
    line-height: 1.5;
}

.links {
    margin-top: -1em;
}

a {
    color: var(--link-color);
}

/* Dark mode toggle styles */
.theme-switch-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 44px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--link-color);
}

input:checked + .slider:before {
    transform: translateX(20px);
}